/* background color for all message alerts */
.message-alert-class {
    border-top-width: 4px;
    color: #fff;
    min-width: 17rem;
    max-width: 85vw;
}
@media only screen and (min-width: 768px) {
    .message-alert-class {
        min-width: 25rem;
        max-width: 70vw;
    }
}
@media only screen and (min-width: 992px) {
    .message-alert-class {
        min-width: 30rem;
        max-width: 50vw;
    }
}
.message-alert-debug {
    color: #fad1e8;
    border-color: #e74694;
    background-color: #bf125d;
}
.message-alert-info {
    color: #e1effe;
    border-color: #a4cafe;
    background-color: #3f83f8;
}
.message-alert-success {
    color: #bcf0da;
    border-color: #0e9f6e;
    background-color: #03543f;
}
.message-alert-warning {
    color: #fff2e7;
    border-color: #ffbf80;
    background-color: #ff8000;
}
.message-alert-error {
    color: #fde8e8;
    border-color: #f05252;
    background-color: #c81e1e;
}

/* for forms */
.form-select option {
    color: #000;
}
.form-textarea {
    min-height: 47px;
    max-height: 25rem;
}

.errorlist {
    color: rgb(239, 70, 70);
    padding-left: 1.125rem;
    margin: 0.25rem 0 0;
    list-style-type: disc;
}

.errorlist li {
    /* font-size: 90%; */
    text-wrap: wrap;
    font-weight: 500;
}

.errorlist-border {
    border-color: rgb(239, 70, 70);
}
